{% extends 'split_app/base.html' %}

{% block page_header %}
    <div class = "jumbotron">
        <h1 class="display-3">Witaj w aplikacji Split Saventic</h1>
        <p class="lead">Stwórz splita i dodaj ile jest ci dana osoba winna daniny</p>
        &nbsp;
        <a class="btn btn-lg btn-primary" href="{% url 'split_app:new_transaction' %}" role="button">Dodaj nowego splita &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'users:upassword_change' %}" role="button">Reset hasła &raquo;</a>
    </div>
{% endblock page_header %}