{% extends 'split_app/base.html' %}

{% block page_header %}
    <div class = "jumbotron">
    {% if user.is_authenticated %}
        <h1 class="display-3">Witaj {{ profile.first_name}}</h1>
        <br>
        {% else %}
        <h1 class="display-3">Witaj w aplikacji Split Saventic</h1>
        <p class="lead">Stwórz splita i dodaj ile jest ci dana osoba winna daniny</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:login' %}" role="button">Zaloguj się</a>
        &nbsp;
    {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-lg btn-primary" href="{% url 'split_app:new_transaction' %}" role="button">Dodaj nowego splita &raquo;</a>
            &nbsp;
            <a class="btn btn-lg btn-primary" href="{% url 'users:upassword_change' %}" role="button">Reset hasła &raquo;</a>
            &nbsp;
            <a class="btn btn-lg btn-primary" href="{% url 'users:editprofile' profile.user_id%}" role="button">Edytuj swój profil &raquo;</a>
        {% endif %}
    </div>
{% endblock page_header %}