{% extends 'split_app/base.html' %}
{% block page_header %}
    <h3>Split: {{ transaction_a }}</h3>
{% endblock page_header %}

{% block content %}
    {% load i18n %}


    <p>
{#    <a href="{% url 'split_app:new_obligation' transaction.id %}" class="btn btn-outline-primary"> Dodaj nową należność </a>#}
    </p>
<h5 class="display-5">Należności do spłaty:</h5>
<ul>
{% for oblig in obligations %}
    <div class="card mb-3">
        <h4 class="card-header">
        {% language 'pl' %}
            {{ profile.first_name }}
        {% endlanguage %}
        </h4>
    <div class="card-body">

           Wartość -  {{ oblig.suma }} zł


    </div>
    </div>
{% empty %}
    <p>Error</p>
{% endfor %}
</ul>
{% endblock %}