{% extends 'split_app/base.html' %}
{% block page_header %}
    <h1>Wszystkie aktywne splity</h1>
{% endblock page_header %}

{% block content %}
{% load i18n %}
    <ul>
    {% for trans in transactions %}
            <li><h4>
                {% language 'pl' %}
            <a href="{% url 'split_app:transaction' trans.id %}">{{ trans.owner }} - {{ trans.t_date }}
            <br>Za: {{ trans.t_desc }}</a>
                {% endlanguage %}
            </h4></li>
    {% empty %}
        <li><h3>Brak aktywnych splitów do uregulowania</h3></li>
    {% endfor %}


    </ul>
    <div class="pb-2 mb-2 border-bottom"></div>


    <h3><a href="{% url 'split_app:new_transaction' %}">Dodaj nowego splita</a></h3>
{% endblock %}
{#    {% block page_footer %}#}
{#         <h3><a href="{% url 'split_app:new_transaction' %}">Dodaj nowego splita</a></h3>#}
{#    {% endblock page_footer %}#}